<div class="card-info">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div widget class="card border-0 box-shadow">
            <div class="card-body pt-0 widget-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên xe</th>
                                <th>Số VIN</th>
                                <th>Biển số</th>
                                <th>Đại lý mua</th>
                                <th>Ngày mua</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            	<td>1</td>
                            	<td>Grand i10 2017</td>
                            	<td>123456789</td>
                            	<td>30F-88.888</td>
                            	<td>Huyndai Giải Phóng</td>
                            	<td>01/01/2018</td>
                            </tr>
                            <tr>
                            	<td>2</td>
                            	<td>Grand i10 2017</td>
                            	<td>123456789</td>
                            	<td>30F-88.888</td>
                            	<td>Huyndai Giải Phóng</td>
                            	<td>01/01/2018</td>
                            </tr>
                            <tr>
                            	<td>3</td>
                            	<td>Grand i10 2017</td>
                            	<td>123456789</td>
                            	<td>30F-88.888</td>
                            	<td>Huyndai Giải Phóng</td>
                            	<td>01/01/2018</td>
                            </tr>
                            <tr>
                            	<td>4</td>
                            	<td>Grand i10 2017</td>
                            	<td>123456789</td>
                            	<td>30F-88.888</td>
                            	<td>Huyndai Giải Phóng</td>
                            	<td>01/01/2018</td>
                            </tr>
                            <tr>
                            	<td>5</td>
                            	<td>Grand i10 2017</td>
                            	<td>123456789</td>
                            	<td>30F-88.888</td>
                            	<td>Huyndai Giải Phóng</td>
                            	<td>01/01/2018</td>
                            </tr>
                            <tr>
                            	<td>6</td>
                            	<td>Grand i10 2017</td>
                            	<td>123456789</td>
                            	<td>30F-88.888</td>
                            	<td>Huyndai Giải Phóng</td>
                            	<td>01/01/2018</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
	</div>
</div>