<div class="membercard-info">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div widget class="card border-0 box-shadow">
            <div class="card-body pt-0 widget-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Mã hội viên</th>
                                <th>Mã số thẻ</th>
                                <th>Hạng thẻ</th>
                                <th>Điểm tích lũy trong kỳ</th>
                                <th>Giá trị tích lũy trong kỳ</th>
                                <th>Mã khách hàng</th>
                                <th>Tên khách hàng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            	<td>00012345</td>
                            	<td>ABC123456</td>
                            	<td>G</td>
                            	<td>0</td>
                            	<td>0.00</td>
                            	<td>1234</td>
                            	<td>Lê Ngọc Đức</td>
                            </tr>
                            <tr>
                            	<td>00012345</td>
                            	<td>ABC123456</td>
                            	<td>G</td>
                            	<td>0</td>
                            	<td>0.00</td>
                            	<td>1234</td>
                            	<td>Lê Ngọc Đức</td>
                            </tr>
                            <tr>
                            	<td>00012345</td>
                            	<td>ABC123456</td>
                            	<td>G</td>
                            	<td>0</td>
                            	<td>0.00</td>
                            	<td>1234</td>
                            	<td>Lê Ngọc Đức</td>
                            </tr>
                            <tr>
                            	<td>00012345</td>
                            	<td>ABC123456</td>
                            	<td>G</td>
                            	<td>0</td>
                            	<td>0.00</td>
                            	<td>1234</td>
                            	<td>Lê Ngọc Đức</td>
                            </tr>
                            <tr>
                            	<td>00012345</td>
                            	<td>ABC123456</td>
                            	<td>G</td>
                            	<td>0</td>
                            	<td>0.00</td>
                            	<td>1234</td>
                            	<td>Lê Ngọc Đức</td>
                            </tr>
                            <tr>
                            	<td>00012345</td>
                            	<td>ABC123456</td>
                            	<td>G</td>
                            	<td>0</td>
                            	<td>0.00</td>
                            	<td>1234</td>
                            	<td>Lê Ngọc Đức</td>
                            </tr>
                            <tr>
                            	<td>00012345</td>
                            	<td>ABC123456</td>
                            	<td>G</td>
                            	<td>0</td>
                            	<td>0.00</td>
                            	<td>1234</td>
                            	<td>Lê Ngọc Đức</td>
                            </tr>
                            <tr>
                            	<td>00012345</td>
                            	<td>ABC123456</td>
                            	<td>G</td>
                            	<td>0</td>
                            	<td>0.00</td>
                            	<td>1234</td>
                            	<td>Lê Ngọc Đức</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
	</div>
</div>